<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="assemblyFilePath" value="/Assembly-CSharp.dll"/>
    <add key="xmlFilePath" value="/XMLDocGen.xml"/>
    <add key="outputFolderPath" value="../../../generatedOutput"/>
    <add key="templateFilePath" value="../../../detail_template"/>
    <add key="cusomPagesFolderPath" value="../../../customPages"/>
  </appSettings>
</configuration>